.pageheader {
    background-color: #B9F7B9;
}

.pageheader h1 {
    margin-top: 2rem;
}

.pageheader .lead {
    margin-top: 2rem;
    font-weight: 500;
}

.alert {
    margin-top: 1.5rem;
    margin-bottom: 1.5rem;
    margin-left: 10%;
    margin-right: 10%;
}

.container {
    line-height: 150%;
}

.container h1 {
    margin-top: 2rem;
}

.container h2 {
    margin-top: 2rem;
}

.container h3 {
    margin-top: 2rem;
}

/*
 * This is a hack to fix the scroll-jump to ID internal link problem
 */
.anchor::before {
    display: block;
    content: " ";
    margin-top: -80px;
    height: 80px;
    visibility: hidden;
}

div.step-reset {
    counter-reset: step;
    margin-top: 0;
}
.step {
    counter-increment: step;
}
h3.step {
    margin-top: 3rem;
    margin-bottom: 2rem;
}
.step::before {
    content: "Step " counter(step);
    width: min-content;
    border: solid #333 2px;
    border-radius: 0.4rem;
    padding: 0rem 1rem 0.3rem 1rem;
    margin-right: 0.5em;
    color: white;
    background-color: #333;
}
.optional::after {
    content: "Optional";
    width: min-content;
    border: solid #888 2px;
    border-radius: 0.4rem;
    padding: 0rem 1rem 0.3rem 1rem;
    margin-left: 0.5em;
    color: #888;
    background-color: white;
}

/*        kbd {
    color: rgb(0, 136, 0);
    background-color: #ddd;
} */

div.video {
    margin-left: auto;
    margin-right: auto;
    width: 560px;
}

pre.code {
    font-family: monospace;
    font-size: 100%;
    white-space: pre-wrap;
    border: solid #aaaaaa 3px;
    border-radius: 1rem;
    color: #00dd00;
    background-color: #333333;
    margin: 1em;
    padding: 1em 1em 1em 1em;
}

div.canvas {
    text-align: center;
    margin: 2em;
}

div.footer {
    margin-top: 3rem;
    padding-top: 2rem;
    padding-bottom: 3rem;
    background-color: #5cb85c;
    color: white;
}

div.footer a {
    color: #becce9;
    font-weight: bold;
}

div.footer p {
    text-align: center;
}

.bottomnav {
    font-size: 200%;
    font-weight: bold;
    text-align: center;

}